{% extends './base.html' %}

{% block title %}Threads{% endblock %}

{% block content %}
    <h1>Posts</h1>
    {% if posts %}
        <div class="list-group">
            {% for post in posts %}
                <div class="list-group-item">
                    <h5 class="mb-1"><a href="{% url 'show_post' post.id %}">{{ post.title }}</a></h5>
                    <small class="text-muted">Posted on {{ post.created_at }}</small>
                    <p class="mb-0 mt-2">
                        <small class="text-muted">{{ post.comments.count }} replies</small>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
    <div class="mt-4">
        <a href="{% url 'new_post' %}" class="btn btn-primary">Create New Post</a>
    </div>
{% endblock %}
